{% extends "recipe_cards.html" %}

{% block nav_items %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('get_homepage') }}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('add_recipe') }}#recipeForm">Add a New Recipe</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('get_homepage') }}#courses">Courses</a></li>
{% endblock %}

{% block masthead_content %}
    <div class="masthead-heading">Managing recipes couldn't be easier!</div>
{% endblock %}

{% block section_title %}
    <h2 class="section-heading text-uppercase">All recipes</h2>
    <h3 class="section-subheading text-muted">Manage your recipes by viewing, editing or deleting them.</h3>
{% endblock %}