{% extends "base.html" %}

{% block masthead_content %}
    <div class="masthead-heading">Managing recipes couldn't be easier!</div>
{% endblock %}

{% block content %}
    <!-- Recipe form -->
    <!-- ToDo: check if I could reuse validation from the original template -->
    <!-- implement redirection after clicking Cancel button -->
    <section class="page-section bg-light">
        <div class="container">
            <div class="text-center">
                {% block section_header %}<h2 class="section-heading text-uppercase">Title</h2>{% endblock %}
            </div>
            <form id="recipeForm">
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-12">
                        {% block fieldset_element %}<fieldset>{% endblock %}
                            <div class="form-group">
                                <!-- Name input-->
                                <label for="name">Recipe Name</label>
                                <input class="form-control" id="name" type="text" data-sb-validations="required"/>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-group">
                                <!-- Course dropdown -->
                                <label for="course">Courses</label>
                                <select class="form-select" aria-label="Courses" id="course" name="course">
                                    <option disabled selected>Select a course</option>
                                    <option value="1">Breakfast</option>
                                    <option value="2">Lunch</option>
                                    <option value="3">Dinner</option>
                                    <option value="3">Dessert</option>
                                    <option value="4">Snack</option>
                                    <option value="5">Others</option>
                                </select>
                            </div>
                            <div class="form-group form-group-textarea">
                                <!-- Ingredients textarea -->
                                <label for="ingredients">Ingredients</label>
                                <textarea class="form-control" id="ingredients"></textarea>
                            </div>
                            <div class="form-group form-group-textarea">
                                <!-- Steps textarea -->
                                <label for="steps">Steps</label>
                                <textarea class="form-control" id="steps"></textarea>
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Preparation Time input-->
                                <label for="time">Preparation Time</label>
                                <input class="form-control" id="time" type="time"/>
                            </div>
                        </fieldset>
                    </div>
                </div>
                {% block buttons %}
                {% endblock %}
            </form>
        </div>
    </section>
{% endblock %}