{% extends "form.html" %}

{% block page_id %}
    id="viewRecipePage"
{% endblock %}

{% block section_header %}
    <h2 class="section-heading text-uppercase">View Recipe</h2>
{% endblock %}

{% block fieldset_element %}
<fieldset disabled>
{% endblock %}

{% block buttons %}
<div class="text-center">
    <a href="{{ url_for('get_recipes') }}#allRecipes" class="btn btn-primary btn-lg text-uppercase">Back</a>
    <button class="btn btn-primary btn-lg text-uppercase" id="submitButton" type="submit">Edit</button>
</div>
{% endblock %}